# Algoritmo ECLAT

Funcionar mais com formato vertical de dados.
Mais informações: 
1. https://medium.com/@gabrielreversi
2. The Eclat Algorithm do livro Learning Data Mining with Python de Robert Layton

In [15]:
import pandas as pd
from pyECLAT import ECLAT

In [3]:
base_mercado = pd.read_csv(filepath_or_buffer='mercado.csv', header=None)
base_mercado

          0        1         2         3
0     leite  cerveja       pao  manteiga
1      cafe      pao  manteiga       NaN
2      cafe      pao  manteiga       NaN
3     leite     cafe       pao  manteiga
4   cerveja      NaN       NaN       NaN
5  manteiga      NaN       NaN       NaN
6       pao      NaN       NaN       NaN
7    feijao      NaN       NaN       NaN
8     arroz   feijao       NaN       NaN
9     arroz      NaN       NaN       NaN

In [5]:
## Instanciando o Algoritmo
eclat: ECLAT = ECLAT(data=base_mercado)

In [9]:
# Data Frame com dados binários - 0 não - 1 sim
eclat.df_bin

   pao  leite  arroz  feijao  cafe  cerveja  manteiga
0    1      1      0       0     0        1         1
1    1      0      0       0     1        0         1
2    1      0      0       0     1        0         1
3    1      1      0       0     1        0         1
4    0      0      0       0     0        1         0
5    0      0      0       0     0        0         1
6    1      0      0       0     0        0         0
7    0      0      0       1     0        0         0
8    0      0      1       1     0        0         0
9    0      0      1       0     0        0         0

In [10]:
# Nomes das colunas
eclat.uniq_

['pao', 'leite', 'arroz', 'feijao', 'cafe', 'cerveja', 'manteiga', nan]

In [11]:
### Itens frequentes

indices, suporte = eclat.fit(min_support=0.3, min_combination=1, max_combination=3)

Combination 1 by 1

3it [00:00, 94.90it/s]

Combination 2 by 2

3it [00:00, 100.25it/s]

Combination 3 by 3

1it [00:00, 71.25it/s]

In [12]:
indices

{'pao': [0, 1, 2, 3, 6],
 'cafe': [1, 2, 3],
 'manteiga': [0, 1, 2, 3, 5],
 'pao & cafe': [1, 2, 3],
 'pao & manteiga': [0, 1, 2, 3],
 'cafe & manteiga': [1, 2, 3],
 'pao & cafe & manteiga': [1, 2, 3]}

In [14]:
suporte

{'pao': 0.5,
 'cafe': 0.3,
 'manteiga': 0.5,
 'pao & cafe': 0.3,
 'pao & manteiga': 0.4,
 'cafe & manteiga': 0.3,
 'pao & cafe & manteiga': 0.3}