<h1>Algoritmo de Associação - a priori - biblioteca apyory <h1>

In [1]:
import pandas as pd
from apyori import apriori

#### Base de Dados Simples - mercado.csv

In [2]:
mercado_1 = pd.read_csv('mercado.csv', header=None)
mercado_1

          0        1         2         3
0     leite  cerveja       pao  manteiga
1      cafe      pao  manteiga       NaN
2      cafe      pao  manteiga       NaN
3     leite     cafe       pao  manteiga
4   cerveja      NaN       NaN       NaN
5  manteiga      NaN       NaN       NaN
6       pao      NaN       NaN       NaN
7    feijao      NaN       NaN       NaN
8     arroz   feijao       NaN       NaN
9     arroz      NaN       NaN       NaN

In [3]:
mercado_1.shape, mercado_1.size

((10, 4), 40)

In [4]:
len(mercado_1)

10

In [5]:
transacoes: list[list[str]] = []

for i in range(len(mercado_1)):
    transacoes.append(
        list( str(object=mercado_1.values[i, j]) for j in range(mercado_1.shape[1]) )
    )

transacoes

[['leite', 'cerveja', 'pao', 'manteiga'],
 ['cafe', 'pao', 'manteiga', 'nan'],
 ['cafe', 'pao', 'manteiga', 'nan'],
 ['leite', 'cafe', 'pao', 'manteiga'],
 ['cerveja', 'nan', 'nan', 'nan'],
 ['manteiga', 'nan', 'nan', 'nan'],
 ['pao', 'nan', 'nan', 'nan'],
 ['feijao', 'nan', 'nan', 'nan'],
 ['arroz', 'feijao', 'nan', 'nan'],
 ['arroz', 'nan', 'nan', 'nan']]

Executes Apriori algorithm and returns a RelationRecord generator.

Arguments:
    transactions -- A transaction iterable object
                    (eg. [['A', 'B'], ['B', 'C']]).

Keyword arguments:  
    min_support -- The minimum support of relations (float).  
    min_confidence -- The minimum confidence of relations (float).  
    min_lift -- The minimum lift of relations (float).  
    max_length -- The maximum length of the relation (integer).

In [6]:
regras = apriori(transactions=transacoes, min_support=0.3, min_confidence=0.8, min_lift=2)
regras

In [7]:
### Fazendo o repr das regras
resultados = list(regras)
resultados

[RelationRecord(items=frozenset({'manteiga', 'cafe'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)]),
 RelationRecord(items=frozenset({'pao', 'cafe'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0)]),
 RelationRecord(items=frozenset({'manteiga', 'pao', 'cafe'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'manteiga', 'pao'}), confidence=1.0, lift=2.5), OrderedStatistic(items_base=frozenset({'manteiga', 'cafe'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0), OrderedStatistic(items_base=frozenset({'pao', 'cafe'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)])]

resultados[0] diz o conjunto trabalhado  
resultados[0][....] diz as métricas e regras do conjunto.

**Fixaremos uma visualização do conjunto** `{'manteiga', 'pao', 'cafe'}`


`resultados[2]`:  

RelationRecord(items=frozenset({'manteiga', 'pao', 'cafe'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'manteiga', 'pao'}), confidence=1.0, lift=2.5), OrderedStatistic(items_base=frozenset({'manteiga', 'cafe'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0), OrderedStatistic(items_base=frozenset({'pao', 'cafe'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)])

In [8]:
# resultados[0,1,2][0,1,2]

resultados[2]

RelationRecord(items=frozenset({'manteiga', 'pao', 'cafe'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'manteiga', 'pao'}), confidence=1.0, lift=2.5), OrderedStatistic(items_base=frozenset({'manteiga', 'cafe'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0), OrderedStatistic(items_base=frozenset({'pao', 'cafe'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)])

In [9]:
items = resultados[2][0]
support = resultados[2][1]
regras = resultados[2][2]

In [10]:
regras[0]

OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'manteiga', 'pao'}), confidence=1.0, lift=2.5)

In [11]:
for i in range(len(regras)):
    print(f'Se {regras[i][0]} então {regras[i][1]} com confiança = {regras[i][2]} de LIFT ={regras[i][3]}')

Se frozenset({'cafe'}) então frozenset({'manteiga', 'pao'}) com confiança = 1.0 de LIFT =2.5
Se frozenset({'manteiga', 'cafe'}) então frozenset({'pao'}) com confiança = 1.0 de LIFT =2.0
Se frozenset({'pao', 'cafe'}) então frozenset({'manteiga'}) com confiança = 1.0 de LIFT =2.0

#### Base de Dados Maior - mercado2.csv

In [12]:
mercado_2 = pd.read_csv('mercado2.csv', header=None)
mercado_2

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7496,butter,light mayo,fresh bread,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7497,burgers,frozen vegetables,eggs,french fries,magazines,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7498,chicken,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7499,escalope,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7500,eggs,frozen smoothie,yogurt cake,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
mercado_2.shape

(7501, 20)

In [14]:
number_rows, number_columns = mercado_2.shape

In [15]:
transacoes_2 = []

for i in range(number_rows):
    transacoes_2.append(
        list( str(mercado_2.values[i, j]) for j in range(number_columns) )
    )

In [16]:
regras = apriori(transactions=transacoes_2, min_support=0.3, min_confidence=0.8, min_lift=2)
resultados = list(regras)
len(resultados)

0

Essa base é BEM MAIOR o que com os parâmetros do algoritmo é incapaz de gerar resultados!

Nessa base poderíamos colocar um `min_support = 0.003`, `min_confidence=0.2` e `min_lift=3`

In [17]:
regras = apriori(transactions=transacoes_2, min_support=0.003, min_confidence=0.2, min_lift=3)
resultados = list(regras)
len(resultados)

160

<h3> Visualização <h3>

In [18]:
A = []
B = []
suporte = []
confianca = []
lift = []

for resultado in resultados:
  s = resultado[1]
  result_rules = resultado[2]
  for result_rule in result_rules:
    a = list(result_rule[0])
    b = list(result_rule[1])
    c = result_rule[2]
    l = result_rule[3]
    A.append(a)
    B.append(b)
    suporte.append(s)
    confianca.append(c)
    lift.append(l)

In [19]:
rules_df = pd.DataFrame({'A': A, 'B': B, 'suporte': suporte, 'confianca': confianca, 'lift': lift})
rules_df.sort_values(by = 'confianca', ascending = False)

,A,B,suporte,confianca,lift
347,"[milk, frozen vegetables, soup]","[nan, mineral water]",0.003066,0.766667,3.218112
353,"[milk, nan, frozen vegetables, soup]",[mineral water],0.003066,0.766667,3.216312
180,"[milk, frozen vegetables, soup]",[mineral water],0.003066,0.766667,3.216312
106,"[nan, cereals, ground beef]",[spaghetti],0.003066,0.676471,3.885303
104,"[cereals, ground beef]","[nan, spaghetti]",0.003066,0.676471,3.885303
...,...,...,...,...,...
358,"[shrimp, frozen vegetables]","[nan, spaghetti, mineral water]",0.003333,0.200000,3.348661
371,"[milk, nan, ground beef]","[mineral water, spaghetti]",0.004399,0.200000,3.348661
370,"[milk, ground beef]","[nan, spaghetti, mineral water]",0.004399,0.200000,3.348661
224,"[milk, ground beef]","[mineral water, spaghetti]",0.004399,0.200000,3.348661
360,"[nan, shrimp, frozen vegetables]","[mineral water, spaghetti]",0.003333,0.200000,3.348661